* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

window#waybar {
    background-color: #28252c;
    opacity: 0.95;
    padding: 5px 10px;
    border-radius: 18px;
    margin-right: 8px;
}

/* No individual background */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    background: transparent;
    color: rgb(194, 236, 247)
}

/* Style hover */
button:hover {
    background-color: rgb(255, 0, 0);
    border-radius: 12px;
    box-shadow: none;
}

/* --- GROUPS --- */
/* Group 1: Audio + Network */
#pulseaudio, #network {
    background-color: rgba(133, 60, 182, 0.247);
    padding: 5px 10px;
    border-radius: 18px;
    margin-right: 8px;
}

/* Group 2: CPU + Temp + Memory */
#cpu, #temperature, #memory {
    background-color: rgba(133, 60, 182, 0.247);
    padding: 5px 10px;
    border-radius: 18px;
    margin-right: 8px;
}

/* Group 3: Clock + Battery */
#clock, #battery {
    background-color: #41305c;
    padding: 5px 10px;
    border-radius: 18px;
    margin-right: 8px;
}

#custom-power {
    background-color: rgba(211, 15, 64, 0.247);
    color: rgb(255, 255, 255);
    font-size: xx-large;
    min-width: 15px;
    padding: 5px 10px;
    border-radius: 18px;
    margin-right: 8px;
}

#window {
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 18px;
    margin-right: 8px;
}

#workspaces button {
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 18px;
    margin-right: 8px;
}

/* Group 2: Tray */
#tray {
    background-color: rgba(134, 39, 126, 0.13);
    padding: 5px 10px;
    border-radius: 12px;
    margin-right: 8px;
}

/* Tray icons */
#tray > .passive, 
#tray > .needs-attention {
    -gtk-icon-effect: none;
    background: yellow;
}
